services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./templates:/etc/nginx/templates
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
      - ./entrypoint.sh:/entrypoint.sh
    environment:
      - NGINX_HOST=smarketics.com
    entrypoint: /entrypoint.sh

  moltbot:
    image: moltbot/moltbot:latest
    container_name: moltbot-gateway
    restart: unless-stopped
    ports:
      - "18789:18789"
      - "18790:18790"
    environment:
      - CLAWDBOT_GATEWAY_TOKEN=${CLAWDBOT_GATEWAY_TOKEN}
    volumes:
      - clawdbot_config:/home/node/.clawdbot
      - clawdbot_workspace:/home/node/clawd

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    command: sh -c "certbot certonly --webroot -w /var/www/certbot --email smarketics@smarketics.com -d smarketics.com --text --agree-tos --no-eff-email --rsa-key-size 4096 --non-interactive || true && /bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  clawdbot_config:
  clawdbot_workspace:
